body{
       

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    float: left;
}
image-container {
margin-right: 400px; 
}

img {
max-width: 100%;
height: auto;
position: fixed;
top: 50%;
right: 0;
transform: translateY(-50%);
}